.mainWrapper {
    min-height: 60vh;
    width: 80%;
    margin: auto;
}




.mainContainer {
    width: 100%;
    min-height: inherit;
    display: flex ;
    justify-content: space-between;
    
}

.controller, .contents {
    min-height: 100%;
    /* border: 1px solid black; */
    
}

.contents {
    background-color: white;
    width: 60%;
}

/* .contents > h2, .controller > h2  */
div > h2
{
    font-size: 2em;
    text-align: center;
    border: 1.2px solid rgba(0,0,0,0.1);
    margin: 0.5em;
    padding: 0.5em 0em;
    letter-spacing: -0.1em;
    color: rgb(91, 88, 88);
}
.controller {
    background-color: white;
    width: 38%;
}


