

.info > h3,
.info > h6,
.info > button {
    letter-spacing: -1px;
    padding: 0.1em 0em;
}

.wrapper {
    background-color: green;
}

.info > h3 {
    font-size: 1.5em;
    font-weight: 600;
}
.info > span {
    font-size: 1.2em;
}
.wrapper > button {
    padding: 0.5em 0.8em;
    border: none;
    display: block;
}

.info {
    padding: 0.5em 0em;
}

.saleStyle {
    color: gray;
}

